@font-face {
  font-family: "iconfont"; /* Project id 2509183 */
  src: url('iconfont.woff2?t=1620918731401') format('woff2'),
       url('iconfont.woff?t=1620918731401') format('woff'),
       url('iconfont.ttf?t=1620918731401') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-banner-manage:before {
  content: "\e61a";
}

.icon-dic-manage:before {
  content: "\e72e";
}

.icon-region-manage:before {
  content: "\e687";
}

.icon-position-manage:before {
  content: "\e62e";
}

.icon-user-manage:before {
  content: "\e642";
}

.icon-log-manage:before {
  content: "\e63e";
}

.icon-rent-register:before {
  content: "\e6b6";
}

.icon-role-manage:before {
  content: "\e72d";
}

.icon-data-search:before {
  content: "\e61e";
}

